/* .heading{
    text-align: center;
    margin-top: 20px;
    color: #13AD89;
}
.row{
  margin: 50px;
}
.form-control{
  border-color: #13AD89;
}
.todoButton{
  background-color: #13AD89;
  color: white;
}
.card{
  width:300px;
  height:180px;
  background-color: #CCF5D3;
}
.select{
  background-color: #FE8080;
  border: none;
} */